<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>

    <div class="container mb-3">

      <h2 class="mb-3">About</h2>

      <P>가치소프트 웹사이트 <a href="http://www.gachisoft.com">http://www.gachisoft.com</a>으로 연결</p>

    </div>
  </body>
</html>
