<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>

    <div class="container mb-3">

      <div class="jumbotron">
        <h1>가치소프트</h1>
        <P>방문해 주셔서 감사합니다!</p>
      </div>

    </div>
  </body>
</html>
