<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>

    <video class="videobcg"
      preload="auto"
      autoplay="true"
      loop="loop"
      muted="muted">
      <source src ="/public/images/Network.mp4" type="video/mp4">
        해당 브라우저에서는 영상 재생이 불가합니다.
      </source>
    </video>

    <div class="container mb-3">

      <div class="jumbotron">
        <h1>가치소프트</h1>
        <P>방문해 주셔서 감사합니다!</p>
      </div>

    </div>
  </body>
</html>
